<!DOCTYPE html>
<html>
  <head>
    <title>Boardapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= image_tag"logo.png" %>
    <p>
      <%= link_to "Home",comments_path%>
    </p>
    <%= yield %>
  </body>
</html>
